<div class="container-actions">
    <h1>Mis Ordenes</h1>

    <a (click)="nuevaOrden()">Nueva Orden</a>
</div>

<nz-table #basicTable [nzData]="carts" [nzShowPagination]="false">
    <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of basicTable.data">
            <td>{{cart.id}}</td>
            <td>{{cart.status}}</td>
            <td>
                <a (click)="eliminarOrden(cart)">Eliminar Orden</a>
            </td>
        </tr>
    </tbody>
</nz-table>